* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFF9C4;
    font-size: 1rem;
}

header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #e0e0e06b;
    backdrop-filter: blur(20px);
    padding: 10px;
}

main {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    min-height: 120vh;
}


a {
    text-decoration: none;
    color: black;
}


.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 80px;
    height: 80px;
}

.user-actions {
    display: flex;
    align-items: center;
}


.add-book-btn {
    background-color: #FBC02D;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 15px;
}

.add-book-btn:hover {
    background-color: #F57F17;
    transition: all 0.8s ease-out;
    transform: translateY(-1px);
}

.add-book-btn span {
    margin-right: 5px;
}

.user-profile {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ccc;
    overflow: hidden;
    margin: 20px;
    transition: outline 0.2s ease;
}

.user-profile img {
    width: 100%;
    height: 100%;
}

.user-profile:hover {
    cursor: pointer;
    outline: 5px solid rgba(99, 99, 99, 0.219);
}


.dropdown ul {
    width: 200px !important;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    width: 50%;
    padding: 0.625rem;
    transform: translateY(-10px);
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
}

.dropdown ul.userflex {
    width: 50%;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown ul li {
    list-style: none;
    margin-top: 0.625rem;
    padding: 0.5rem;
    border-radius: 2px;
}

.dropdown ul li:hover {
    background-color: #ffe39d;
    cursor: pointer;
    border-radius: 5px;
}


.add-book-btn {
    position: relative;
    right: 20px;
    display: flex;
    background-color: #FBC02D;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    font-size: 0.9375rem;
}

.add-book-btn:hover {
    background-color: #F57F17;
    transform: translateY(-0.1rem);
    transition: transform 0.3s ease-out;
}




.user-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0.625rem;
    border: 1px solid rgba(0, 0, 0, 0.295);
}

.user-img img {
    width: 100%;
    height: 100%;
}

.user-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.13);
    padding: 1rem;
    border-radius: 10px;
    background-color: #f7f7f74f;
}


.container-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.add-image,
.delete-img {
    margin: 0.625rem;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.226);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.add-image {
    background-color: #ffffff;
}

.add-image:hover {
    transform: translateY(-0.3125rem);
    background-color: #ffda7e85;
}

.delete-img {
    background-color: #ff000096;
}

.delete-img:hover {
    background-color: hsla(0, 100%, 70%, 0.74);
    transform: translateY(-0.3125rem);
}


.form-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.185);
    padding: 1.25rem;
    border-radius: 10px;
    background-color: #f7f7f74f;
}

.form-user input {
    padding: 0.4375rem;
    border: 1.5px solid rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    outline: none;
}

.form-user input:focus {
    outline: #FBC02D;
    border: 1.5px solid #FBC02D;
    transition: all 0.3s ease-in-out;
}

.form-user .cancel,
.form-user .confirm {
    padding: 0.625rem;
    border-radius: 10px;
    border: 1.5px solid rgba(0, 0, 0, 0.226);
    margin: 0.625rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.form-user .cancel {
    background-color: rgba(255, 79, 79, 0.932);
}

.form-user .confirm {
    background-color: #ffda7e85;
}

.form-user .cancel:hover,
.form-user .confirm:hover {
    transform: translateY(-0.3125rem);
}

.form-user .cancel:active,
.form-user .confirm:active {
    transform: translateY(0);
    box-shadow: 5px 0 20px rgba(0, 0, 0, 0.281);
}


@media (max-width: 768px) {
    .logo-img {
        width: 4rem;
        height: 4rem;
        margin-left: 1rem;
    }

    .user-actions {
        justify-content: flex-end;
        margin-top: 1rem;
    }

    .dropdown ul {
        width: 100%;
    }

    .user-profile {
        width: 3rem;
        height: 3rem;
    }

    .form-user {
        width: 100%;
        padding: 1rem;
    }

    .add-book-btn {
        font-size: 1rem;
        padding: 0.75rem 1.5rem;
    }
}

@media (max-width: 480px) {
    .logo-img {
        width: 80px;
        height: 80px;
    }

    .logo-container {
        margin: 0;
    }

    .dropdown ul {
        width: 50%;
        right: 0;
    }

    .user-profile {
        width: 65px;
        height: 65px;
        margin-bottom: 10px;
    }

    .user-actions box-icon {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.5rem;
    }
}